/*Top Navbar*/

/* .topNavbarContainer{
} */
.navHeader{
    height: 100px !important;
}
.brand{
    color:#17770ecd !important;
    padding-left: 10px;
}
.navHeaderLink:link{
    color:#72df64cd;
}
#headerHome{
    padding-left: 65px !important;
}
#headerProducts{
    padding-left: 25px !important;
}
#headerLogin{
    padding-left: 25px !important;
}
.topSearchbar{
    color:#58575bcd;
}
.topSearchbarLabel{
    padding-top: 10px !important;
    padding-left: 100px !important;
}
#searchProdBar{
    width: 250px !important;
    margin-left: 15px;
}
.searchButton{
    height: 25px !important;
    width: 70px !important;
    padding-bottom: 30px !important;
    margin-left: 10px !important;
    background-color: #838a8a !important;
    border-color: #000000 !important;
}

/*Bottom Navbar*/

.footerBrand{
    color: #4e5f5f !important;
    font-size: 15px!important;
}

/*Carousel items*/

.carouselTitle{
    color:#196b24;
    padding: 50px 0px 50px 0px !important ;
}
.carouselItem{
    display: flex !important;
    flex-direction: column !important;
}
.carouselImg{
    height: 500px !important;
}

/*Home page items*/

.homeLoginLink{
    color: #4e5f5f;
    padding: 10px 0px 0px 0px;
}
.homeLoginLink:link{
    color: #58575bcd !important;
    text-decoration: none !important;
}
.homeLoginLink:visited{
    color: #4e5f5f !important;
    text-decoration: none !important;
}
.homeLoginLink:active{
    color: #4e5f5f !important;
}

/*Login page items*/

.loginTitle{
    color: #31772acd !important;
    padding: 20px 0px 0px 0px;
}
.formLabel{
    color: #7e7e7e;
}
.titleFormSeparator{
    padding: 45px 45px 0px 0px;
}
.emailFieldParagraph{
    font-size: x-small;
}
.loginPageInput{
    width: 600px !important;
}
.loginButton{
    background-color: #838a8a !important;
    border-color: #000000 !important;
    margin-top: 15px !important;
}
.loginButton:hover{
    background-color: #717da0 !important;
}
.formSignupLink:link{
    color: #58575bcd !important;
    text-decoration: none !important;
}
.formSignupLink:visited{
    color: #4e5f5f !important;
    text-decoration: none !important;
}
.formSignupLink:active{
    color: #4e5f5f !important;
}
.formSignupLink:hover{
    color: #000000 !important;
}

/*Signup page items*/

.signupContainer{
    padding: 50px 0px 0px 0px;
}
.formLabel{
    padding-right: 5px;
}
#country{
    display: flex !important;
    margin-right: 0px;
}
.signupFormLeftSide{
    display: flex;
    padding: 5px 0px 5px 0px;
    justify-content: flex-start;
}
.signupCardHolder{
    padding: 15px 0px 0px 0px;
}
.signupFormRightSide{
    display: flex;
    padding: 5px;
    justify-content: flex-end;
}
.signupTitle{
    color: #4e5f5f;
    margin-top: 15px;
    margin-bottom: 15px;
}
.signupParagraph{
    color: #687a7a;
}
.signupDisclosure{
    font-size: x-small;
    color: #4e5f5f;
    margin-top: 15px;
}
.signupFormTextField{
    width: 300px !important;
}
.signupButtonContainer{
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.signupButton{
    background-color: #4e5f5f !important;
    border-color: #000000 !important;
    margin-top: 15px !important;
    width: 300px;
}
.signupButton:hover{
    background-color: #597575 !important;
}

/*Products page*/

.productsRow{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}
.productsPageTitle{
    color: #196b24;
    padding-bottom: 125px;
    padding-top: 30px;
}
.productLink{
    display: flex !important;
    justify-content: space-between !important;
}
.productLink:link{
    color: #597575;
    text-decoration: none;
}
.productLink:visited{
    color: #5a5959;
    text-decoration: none !important;
}
.productLink:hover{
    color: #000000;
}
.colLabel{
    color: #597575;
}
.cardTitle{
    display: flex !important;
}
