/*Top Navbar*/

/* .topNavbarContainer{
} */
.navHeader{
    height: 100px !important;
}
.brand{
    color:#58575bcd !important;
    padding-left: 10px;
}
.navHeaderLink:link{
    color:#58575bcd;
}
#headerHome{
    padding-left: 65px !important;
}
#headerProducts{
    padding-left: 25px !important;
}
#headerLogin{
    padding-left: 25px !important;
}
.topSearchbar{
    color:#58575bcd;
}
.topSearchbarLabel{
    padding-top: 10px !important;
    padding-left: 100px !important;
}
#searchProdBar{
    width: 250px !important;
    margin-left: 15px;
}
.searchButton{
    height: 25px !important;
    width: 70px !important;
    padding-bottom: 30px !important;
    margin-left: 10px !important;
    background-color: #838a8a !important;
    border-color: #000000 !important;
}

/*Bottom Navbar*/

.footerBrand{
    color: #4e5f5f !important;
    font-size: 15px!important;
}

/*Carousel items*/

.carouselTitle{
    color:#717da0;
}
.carouselItem{
    display: flex !important;
    flex-direction: column !important;
}
.carouselImg{
    height: 500px !important;
}

/*Home page items*/

.homeLoginLink{
    color: #4e5f5f;
}
.homeLoginLink:link{
    color: #58575bcd !important;
    text-decoration: none !important;
}
.homeLoginLink:visited{
    color: #4e5f5f !important;
    text-decoration: none !important;
}
.homeLoginLink:active{
    color: #4e5f5f !important;
}

/*Login page items*/

.loginTitle{
    color: #4e5f5f !important;
}
.titleFormSeparator{
    padding: 45px 45px 0px 0px;
}
.emailFieldParagraph{
    font-size: x-small;
}
.loginPageInput{
    width: 600px !important;
}
.loginButton{
    background-color: #4e5f5f !important;
    border-color: #000000 !important;
    margin-top: 15px !important;
}
.loginButton:hover{
    background-color: #717da0 !important;
}
.formSignupLink:link{
    color: #58575bcd !important;
    text-decoration: none !important;
}
.formSignupLink:visited{
    color: #4e5f5f !important;
    text-decoration: none !important;
}
.formSignupLink:active{
    color: #4e5f5f !important;
}
.formSignupLink:hover{
    color: #000000 !important;
}

/*Signup page items*/

/* .signupFormDiv{
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: flex-start;
    align-content:flex-start
} */
.formLabel{
    padding-right: 10px;
}
.signupFormLeftSide{
    display: flex;
    padding: 5px;
}
.signupFormRightSide{
    display: flex;
    padding: 5px;
}
.signupTitle{
    color: #4e5f5f;
    margin-top: 15px;
    margin-bottom: 15px;
}
.signupParagraph{
    color: #687a7a;
}
.signupDisclosure{
    font-size: x-small;
    color: #4e5f5f;
}
.signupFormTextField{
    width: 300px !important;
}